html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.smallCircle {
  position: absolute;
  background-color: #FFB700;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  z-index: 2;
  animation: logo-spin-otherway infinite 4s linear;
}

.circle {
  position: absolute;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  z-index: 1;
  animation: logo-spin infinite 4s linear;
}

.bigCircle {
  position: relative;
  background-color: black;
  height: 36px;
  width: 36px;
  border-radius: 50%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg) translateX(6px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(6px) rotate(-360deg);
  }
}

@keyframes logo-spin-otherway {
  from {
    transform: rotate(0deg) translateX(3px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(3px) rotate(-360deg);
  }
}


.button {
  background-color: transparent;
  color: #000000;
  border: 1px solid black;
  padding: 6px 15px;
  margin-top: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  outline: none;
  border-radius: 3px;
  transition: all .4s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.background {
  background-color: #d4f7d4;
  height: 500px;
  padding: 20px;
}

.nav {
  border: 1px solid black;
  padding: 6px 10px;
  border-radius: 3px;
}

.project {
  width: 500px;
}


@media(min-width: 600px) {
  .background {
    background-color: #d4f7d4;
    height: 500px;
  }
}